<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".aar" mimeType="application/java-archive" />
            <mimeMap fileExtension=".pom" mimeType="text/xml" />
            <mimeMap fileExtension=".md5" mimeType="text/plain" />
            <mimeMap fileExtension=".sha1" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
